<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsp.view">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".YandViewApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lsper.view.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <activity
            android:name=".activity.favtag.FavTagActivity"
            android:exported="false" />
        <activity
            android:name=".activity.setting.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.login.LoginActivity" />
        <activity
            android:name=".activity.pic.PicActivity"
            android:configChanges="uiMode"/>
        <activity
            android:name=".activity.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>